<div class="tech-btm">
	<h4>Mail bulteni abone ol</h4>
	<p>tehnoloji yazilim ve invester </p>
	<form action="/NewsLetter/SubscripeMail" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Subscribe">
	</form>

</div>